.btn-orange {
  background-color: #e78c30;
  border-color: #e78c30;
  color: #fff;
}

.btn-orange:hover,
.btn-orange:focus {
  color: #fff;
  background-color: #cf7d2a;
  border-color: #cf7d2a;
  box-shadow: 0 0 0 2.5px lightgray inset, 0 0 0 5px #cf7d2a;
}

.btn-orange:active:focus,
.btn-orange:active:focus {
  background-color: #b36b23;
  border-color: #b36b23;
  box-shadow: 0 0 0 2.5px lightgray inset, 0 0 0 5px #b36b23;
}
